mrubyc/sample_c/**/mrubyc*
test/**/bitmap-marking
test/**/marksweep
test/**/refcount
mrubyc/src/hal
**/*.a
**/*.o
**/*.mrb
**/bench.sh
test/benchmark/**/result*/
**backup/
**/ext/bitmap*
**/ext/marksweep*
**/ext/refcount*
**/src/bitmap*
**/src/marksweep*
**/src/refcount*
